# App
NODE_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Clerk Auth
CLERK_SECRET_KEY=sk_test_U1UjWBqeaLqhzK1YhLrj9Zz5Dqtpcm69JpzjVqFKEl
CLERK_WEBHOOK_SECRET=

# Database
DATABASE_URL=postgresql://postgres:baseSUPA_#@!@db.mpfmfupbpjpjbljtjuna.supabase.co:5432/postgres

# Cache / Queue
REDIS_URL=redis://default:jGrK9CNP87yhO6DjwbZj62gX8b763JYl@redis-10969.c15.us-east-1-2.ec2.cloud.redislabs.com:10969

# AI
ANTHROPIC_API_KEY=

# External APIs
CRUNCHBASE_API_KEY=
ANGELLIST_API_KEY=
TAVILY_API_KEY=
APOLLO_API_KEY=

# Services
RESEND_API_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Monitoring
SENTRY_DSN=
